* {
  font-family: helvetica;
  font-size: 1.5rem;
  
}

a {
  color: white;
  text-decoration: none;
}

  a:hover{
    text-decoration: underline;
  }

body {
  padding: 2.5%;
  background: rgb(37,172,255);
  background: linear-gradient(90deg, rgba(37,172,255,1) 0%, rgba(14,158,247,1) 100%);
}